body {
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

/* Style the header */
.content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.header {
    display: inline-block;
    background-color: white;
    width: 100%;
}            
.strip {
    background-color: #B4D4E0;
    height: 120px;
    margin: 56px 0 56px 0;
}
.logo {
    position: absolute;
    top: -25px;
    overflow: visible;
}

.logo img {
    height: 190px;
}

.headerText {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
}
h1 {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 28px;
}
h2 {
    font-size: 24px;
}            
.body {
    display: inline-block;
    width: 100%;
    height: 100%;
}
#authBox {
    border-radius: 25px;
    border: 10px solid #B4D4E0;
    box-sizing: border-box;
    width: 472px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    padding: 0 20 0 20;
}
.authBoxContent {
    position: relative;
    margin: 0;
}
#authTitle {
    font-family: Roboto;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}
#authForm {
    width: 219px;
    margin: 0 auto;
}
.authTextFields {
    background-color: #eee;
    color: #777;
    padding: 4px 10px;
    width: 100%;
}
input {
    border: none;
    font-family: inherit;
    font-style: italic;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
#menu {

}
#menu ul {
    display: flex;
    padding: 0;
    justify-content: center;
}
#menu li {
    list-style: none; /*убираем маркеры списка*/
    padding: 0 24 0 24;
    margin-left: 40px;
    margin-right: 40px;
}
#menu a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    font-size: 20px;
}
#userInfo {
    height: 536px;
    width: 100%;
    margin-top: 25px;
}
#generalInformation {
    float: left;
    width: 49%;
    height: 223px;
    margin-right: 1%;
}
#addresses {
    float: left;
    margin-left: 1%;
    width: 49%;
    height: 223px;
    margin-bottom: 30px;
}
#userDocuments {
    width: 100%;
    height: 282px;
    clear: both;
}
.tableHeader {
    background-color: #B4D4E0;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    position: relative;
}
.tableHeader .headerText {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute; 
    top: 50%; 
    left: 50%;
}
.tableCell {
    border-bottom: 1px solid black;
    height: 61px;
    position: relative;
}
.tableCellContent {
    width: 100%;
    transform: translateY(-50%);
    position: absolute; 
    top: 50%; 
}
.cellTitle {
    float: left;
    width: 34%;
    height: 100%;
    text-align: left;
    
}
.cellValue {
    float: left;
    width: 66%;
    height: 100%;
    text-align: right;
    color: #000058;
}
.cellForDocument {
    width: 100%;
    text-align: center;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute; 
    top: 50%; 
    left: 50%;
}
.helpPart {
    height: 300px;
    width: 100%;
    margin-top: 60px;
}
#authInstructions {
    margin: auto;
    width: 840px;
    height: 150px;
}
.authInstrText {
    text-align: center;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
}
#portalFAQandHelp {
    margin: auto;
    width: 539px;
    height: 109px;
    margin-top: 30px;
}
#FaqLinkTitle {
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
}
#contactWithAdmins {
    text-align: center;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
}